*.h5 filter=lfs diff=lfs merge=lfs -text
data/pharmgkb_processed/final_tables/pgkb_merged.csv filter=lfs diff=lfs merge=lfs -text
data/variants/1000_Genomes/10000_subset_snvs_coding_1kGPhg38.tsv filter=lfs diff=lfs merge=lfs -text
data/variants/1000_Genomes/1000_subset_snvs_coding_1kGPhg38.tsv filter=lfs diff=lfs merge=lfs -text
data/variants/1000_Genomes/100000_subset_snvs_coding_1kGPhg38.tsv filter=lfs diff=lfs merge=lfs -text
